/** @format */

.vet-dashboard-content {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vet-profile {
  height: 40%;
  width: 50%;

  margin: 5px;

  background-color: green;
  border-radius: 10px;
  border: 2px solid rgb(124, 124, 124);
}
